<!DOCTYPE html>
<html>
<head>
	<title>Hate Speech Detection</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header>
	<nav class="navbar navbar-default" id="title">
		<h1><a href="{{ url_for('index') }}">Hate Speech Detection </a></h1>
	</nav>
</header>

<body style="background-color: blue;">
	

	<div id="infoform" class="container">
		<form action="{{ url_for('predict') }}" method="post">
			<div id="in">
				<textarea id="inlabels" name="text" rows="10" cols="56" placeholder="Enter The Text ..." autofocus></textarea>
			</div>
			<div id="in">
				<button class="btn btn-primary btn-lg">Submit</button>
			</div>		
		</form>

	</div>

<footer>
	<h4>Made by</h4>	
	<h5>Ayush Modi</h5>
	<h5>Shubham Pawar</h5>	
</footer>	
</body>

</html>